<nav class="navbar navbar-expand-md bgc-nav-main py-0">
    <a class="navbar-brand text-white" routerLink="/">Accueil</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['active']" class="nav-item">
                <a (click)="isMenuCollapsed = true" class="nav-link text-white font-weight-bold fs-15" routerLink="/petfoods/dogs">Nourriture Chien</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a (click)="isMenuCollapsed = true" class="nav-link text-white font-weight-bold fs-15" routerLink="/petfoods/cats">Nourriture Chat</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a (click)="isMenuCollapsed = true" class="nav-link text-white font-weight-bold fs-15" href="#">Quel aliment pour mon animal ?</a>
            </li>
            <li [routerLinkActive]="['active']" class="nav-item">
                <a (click)="isMenuCollapsed = true" class="nav-link text-white font-weight-bold fs-15" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
<br>
