<div class="d-flex flex-row">
    <div>
        <span class="font-size-18">{{ label }}</span> :
        <span class="font-size-18" [class.text-danger]="cursor === undefined">{{ getCursor() }}</span>
    </div>
    <div class="pl-3 flex-fill">
        <canvas *ngIf="cursor" #canvasElementRef width="{{ gaugeW + 2*gaugePadding }}" height="{{ gaugeH + 2*gaugePadding }}"></canvas>
        <div *ngIf="!cursor" class="text-danger text-center"><span class="font-size-18 font-weight-bold">N/A</span></div>
    </div>
</div>
