<div class="d-flex flex-column flex-lg-row">
    <div style="width: 200px;">
        <app-filters-basic></app-filters-basic>
    </div>
    <br>
    <div class="">
        <div *ngFor="let petfood of petfoodList">
            <app-petfood-outline [petfood]="petfood"></app-petfood-outline>
            <br>
        </div>
        <ngb-pagination
            [(page)]="petfoodPage.page"
            [pageSize]="petfoodPage.pageSize"
            [collectionSize]="petfoodPage.collectionSize"
            (pageChange)="onPageChange($event)">
        </ngb-pagination>
    </div>
</div>
