<p>petfood-list works!</p>

<table class="table">
    <thead>
        <tr>
            <th>animal</th>
            <th>brand</th>
            <th>Reférence</th>
            <th>foodType</th>
            <th>ingredients</th>
            <th>Détail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of petfoodList">
            <td>{{ food.animal }}</td>
            <td>{{ food.brand }}</td>
            <td>{{ food.reference }}</td>
            <td>{{ food.foodType }}</td>
            <td>{{ food.ingredients }}</td>
            <td><a class="btn btn-primary" [routerLink]="getPetfoodUrl(food._id)">GO</a></td>
        </tr>
    </tbody>
</table>
