<div class="d-flex flex-column flex-lg-row justify-content-around">
    <div class="border">
        <div class="card">
            <h4 class="fs-15 verdana">TYPE DE NOURRITURE</h4>
            <hr>
            <div>Lorem</div>
            <div>Dolor</div>
            <div>Sit</div>
            <div>Amet</div>
        </div>
        <div class="card"></div>
    </div>
    <br>
    <div class="">
        <div *ngFor="let petfood of petfoodList">
            <app-petfood-outline [petfood]="petfood"></app-petfood-outline>
            <br>
        </div>
        <ngb-pagination
            [(page)]="petfoodPage.page"
            [pageSize]="petfoodPage.pageSize"
            [collectionSize]="petfoodPage.collectionSize"
            (pageChange)="onPageChange($event)">
        </ngb-pagination>
    </div>
</div>
