/* You can add global styles to this file, and also import other style files */

@import "styles_bootstrap_override.scss";
@import "~bootstrap/scss/bootstrap";

.container {
  max-width: 1330px !important;
}

.bg-grey{
  background: #989898;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
