.bg-light-grey {
  background: #e9ecef;
}

.table-custom th, .table-custom td {
  // padding: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  width: 60px;
}

.thead-grey th {
  color: #fff;
  background-color: #808285;
  border-color: #808285;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #000 !important;
}
.max-height-102 {
  max-height: 102px;
}
