<div class="card">
    <div class="card-body pl-2 d-flex flex-md-row flex-sm-column flex-column justify-content-around">
        <div class="d-flex justify-content-center">
            <img src="{{getImagePath()}}" class="max-height-170 d-block" alt="Test">
        </div>
        <div class="d-flex flex-column">
            <div class="h4"><a class="text-primary" [routerLink]="getPetfoodUrl(petfood._id)">{{ petfood?.brand }}</a></div>
            <div class="h5"><a class="text-dark" [routerLink]="getPetfoodUrl(petfood._id)">{{ petfood?.reference}}</a></div>
            <div class="d-none d-md-block table-responsive">
                <table class="table table-bordered table-sm align-middle text-center font-weight-bold font-size-14">
                    <thead class="thead-light">
                        <tr>
                            <th class="width-90">Protéines</th>
                            <th class="width-90">Lipides</th>
                            <th class="width-90">Fibres</th>
                            <th class="width-90">Cendres</th>
                            <th class="width-90">Humidité</th>
                            <th class="width-90">Glucides</th>
                            <th class="width-90">Calcium</th>
                            <th class="width-90">Phosphore</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>40</td>
                        <td>21</td>
                        <td>2,5</td>
                        <td>7,5</td>
                        <td>8</td>
                        <td>21,00</td>
                        <td>1,3</td>
                        <td>1,2</td>
                    </tbody>
                </table>
            </div>
            <div class="d-block d-md-none">
                <table class="table table-bordered table-sm text-center font-weight-bold font-size-14">
                    <tbody>
                        <tr>
                            <td>Protéines</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>Lipides</td>
                            <td>21</td>
                        </tr>
                        <tr>
                            <td>Fibres</td>
                            <td>2,5</td>
                        </tr>
                        <tr>
                            <td>Cendres</td>
                            <td>7,5</td>
                        </tr>
                        <tr>
                            <td>Humidité</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Glucides</td>
                            <td>21,00</td>
                        </tr>
                        <tr>
                            <td>Calcium</td>
                            <td>1,3</td>
                        </tr>
                        <tr>
                            <td>P</td>
                            <td>1,2</td>
                        </tr>
                        <tr>
                            <td>Ca/P</td>
                            <td>1,08</td>
                        </tr>
                        <tr>
                            <td>O6/O3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>EM</td>
                            <td>417</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="">
                <p><span class="font-weight-bold">Source d'amidon</span> : pois, pomme de terre, riz.</p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            RPC/RPP
        </div>
    </div>
</div>
